* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;
  background: none;
  min-height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 4px 10px 0;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 400px) {
  .container {
    font-size: 12px;
    gap: 10px;
  }
}
/* First Screen Styles */
.first-screen,
.final-screen {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.first-screen.active,
.final-screen.active {
  display: flex;
}

.header {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header h3 {
  font-weight: bold;
  font-size: 18px;
}

.header p {
  line-height: 1.5;
}

.header p.bold {
  font-weight: bold;
}

.chest-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 400px) {
  .chest-section {
    gap: 10px;
  }
}
.chest-img {
  max-height: 240px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: chest 1s infinite;
}

.chest-img-final {
  max-height: 240px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 4px;
  animation: chest 1s infinite;
}

@keyframes chest {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(1.05) scaleX(0.97);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
.btn {
  margin-top: 20px;
  width: 300px;
  cursor: pointer;
  border-radius: 9999px;
  border: none;
  border-bottom: 3px solid #000;
  background-color: #ffcc00;
  padding: 10px 26px;
  font-weight: bold;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.02);
}

.btn:active {
  transform: scale(0.98);
}

@media (max-width: 400px) {
  .btn {
    margin-top: 10px;
  }
}
.final-screen {
  margin-top: 40px;
}

/* Final Screen Styles */
.final-screen .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.final-screen .text p:first-child {
  margin-bottom: 20px;
}

.final-screen .btn {
  margin: 20px 0;
  animation: button 1500ms infinite;
}

@keyframes button {
  0% {
    box-shadow: 0 0 20px #2a3378;
  }
  100% {
    box-shadow: 0 0 20px #fff;
  }
}
.highlight {
  color: #ffcc00;
  font-weight: bold;
}